###################################################################################################

UseDNS       no
MaxAuthTries 50

###################################################################################################

Subsystem sftp /usr/lib/openssh/sftp-server

###################################################################################################
